@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
  --primary-color: #f2e7c9; /* Parchment */
  --secondary-color: #E7EFC5; /* Cream */
  --terciary-color: #BFD7B5; /* Tea green */
  --fourth-color: #A3C4BC; /* Ash gray */
  --text-color1: #413C58; /* English violet */
  --text-color2: #C5D1D3; /* Silver */
  --high-prio-color: #0CCA4A;
  --medium-prio-color: #FF8B47;
  --low-prio-color: #DC042C;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--secondary-color);
}
/* sidebar Header */
.sidebar-header {
  display: flex;
  width: 100%;
  max-height: 75px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.icon-header {
  height: 50px;
  width: 50px;
}
.title-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: var(--text-color1);
}

/* Tasks Buttons */
.task-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
} 

.sidebar-button {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  border: none;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 20px;
  width: 80%;
  background-color: var(--fourth-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sidebar-button:hover {
  background-color: #448b7a;
}
.sidebar-button:active {
  border: 2px solid var(--text-color1);
}

.icon-container {
  margin: 0 20px;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
}

.sidebar-name {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
}

/* My Projects */
.my-project-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.title-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-color1);
}

.add-project-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/* Main Content */
.main-content {
  background-color: var(--primary-color);
}